.c-career-journey {
  &__positions-info {
    margin-left: 0;
  }

  @media(min-width: $breakpoint-medium) {
    display: flex;

    &__company-info {
      flex: 0 0 rem(300);
      text-align: right;
    }

    &__positions-info {
      margin-left: rem(24);
      padding-left: rem(24);
      border-left: rem(4) dashed $gray-5;
      position: relative;

      &:before {
        content: '';
        display: block;
        height: rem(16);
        width: rem(16);
        background: $navy;
        position: absolute;
        left: rem(-10);
        transform: rotate(45deg);
      }
    }
  }
}